<%- include('partials/adminheader.ejs') %>

<main class="h-full pb-16 overflow-y-auto">
  <div class="container px-6 mx-auto grid">
    <!-- General elements -->
    <h4
      class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300 pt-4"
    >
      Edit Banner
    </h4>

    <form
      action="/admin/posteditbanner/<%= bannerdetails._id %> "
      method="post"
      enctype="multipart/form-data"
    >
      <div
        class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800"
      >
        <!-- --------------------------small heading -->
        <label class="block text-sm">
          <span class="text-gray-700 dark:text-gray-400">Heading</span>
          <input
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            placeholder="Heading"
            name="heading"
            value="<%= bannerdetails.heading %> "
          />
        </label>

        <!-- ----------------------main heading -->
        <label class="block text-sm">
          <span class="text-gray-700 dark:text-gray-400">Main Heading</span>
          <input
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            placeholder="Main Heading"
            name="main_heading"
            value="<%= bannerdetails.main_heading %> "
          />
        </label>
        <!-- -----------------------------url -->
        <label class="block text-sm">
          <span class="text-gray-700 dark:text-gray-400">URL</span>
          <input
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            placeholder="url"
            name="url"
            value="<%= bannerdetails.url %> "
          />
        </label>
        <!-- ------------------------pic  -->
        <span class="text-gray-700 dark:text-gray-400 text-sm pt-3">
          Pictures 1</span
        >
        <div class="custom-file mt-3">
          <input type="file" name="images" id="fileToUpload" value="<%= bannerdetails.image[0].filename %> "/>
        </div>
        <div class="pt-4">
          <button
            type="submit"
            class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
          >
            Submit
          </button>
          <button class="btn btn-secondary">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</main>
