<%- include('partials/userheader.ejs') %>

<div class="container">
  <table
    class="table align-middle bg-white"
    style="margin-top: 50px; margin-bottom: 100px"
  >
    <h2 style="margin-top: 150px; margin-left: 508px; font-family: serif">
      Orders
    </h2>
    <thead class="bg-light">
      <tr>
        <th>No</th>
        <th>Status</th>
        <th>Payment</th>
        <th>Date</th>
        <th>Total</th>
        <th>Full View</th>

        <th>Cancel Order</th>
      </tr>
    </thead>
    <% for( let i = 0; i < orderdetails.length; i++ ) { %>

    <tbody>
      <tr>
        <td><%= i+1 %></td>
        <td>
          <span class="badge badge-success rounded-pill d-inline">
            <%= orderdetails[i].orderstatus %>
          </span>
        </td>

        <td>
          <p class="fw-normal mb-1"><%= orderdetails[i].paymentmethod %></p>
        </td>
        <td>
          <p class="fw-normal mb-1">
            <%= orderdetails[i].date.toLocaleString() %>
          </p>
        </td>
        <td><%= orderdetails[i].totalprice %> </td>
        <td>
          <a href="/orderdetails/<%= orderdetails[i]._id %> " type="button"  class="btn btn-secondary"> View</a>
        </td>
        <% if (orderdetails[i].orderstatus=='Cancelled' || orderdetails[i].orderstatus=='Returned' || orderdetails[i].orderstatus=='Returned Success' ) { %>
          <td>

          </td>
        <% } else { %>

          <% if (orderdetails[i].orderstatus=='Delivered') { %>
            <td style="width: 45px;">
              <!-- <a href="/ordercancel/ "  ></a> -->
              <button class="btn btn-danger" onclick="returnOrder('<%= orderdetails[i]._id %>')">Return</button>
          </td>
          <% } else { %>
            <td style="width: 45px;">
              <!-- <a href="/ordercancel/ "  ></a> -->
              <button class="btn btn-danger" onclick="cancelOrder('<%= orderdetails[i]._id %>')">Cancel</button>
          </td>
          <% } %>

         
        <% } %>
        
      </tr>
    </tbody>
    <% } %>
  </table>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.4/lottie.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script
  src="https://code.jquery.com/jquery-3.6.3.js"
  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
<script>
  function cancelOrder(orderId){
      console.log("cancel order");

      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, Cancel Order!",
        cancelButtonText : 'No'
  }).then((result) => {
     if(result.isConfirmed) {
      console.log(orderId);
      $.ajax({
            url:'/ordercancel/?id='+orderId,
            method:'get',
      })
       Swal.fire("Cancelled!", "Your orderd has been Cancelled.", "success").then(()=>{
          //   window.location = "/myOrder"
            window.location.reload();
          })
     }
  })
  }

  async function returnOrder (id) {
    Swal.fire({
  title: 'Are you sure to Return this Order?',
  text: "You won't be able to Hold this Product!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, Return it!'
}).then(async(result) => {
  if (result.isConfirmed) {
    console.log(id);
    let orders=await axios({
      method:'post',
      url   :'/orderreturn',
      data  :{
        id
      }
    })
   
    Swal.fire(
      'Order Returned',
      'Your product need to be Return.',
      'success'
    )
    location.reload()
  }
})
  }



</script>
<%- include('partials/userfooter.ejs') %>
