<div class="demo">
  <nav class="pagination-outer" aria-label="Page navigation" style="padding-left: 1025px; padding-bottom: 30px">
      <ul class="pagination">
          <li class="page-item">
              <% if (pagenation.previous) { %>
                  <a href="/product?page=<%= pagenation.previous.page %>&limit=<%= pagenation.previous.limit %>" class="page-link" aria-label="Previous">
                      <span aria-hidden="true">«</span>
                  </a>
              <% } %>
          </li>
          <li class="page-item active">
              <% if (pagenation.current.page !=NaN) { %>
                  <a class="page-link" href="#"><%= pagenation.current.page %></a>
              <% } %>
          </li>
          <!-- <li class="page-item">
                                      <a class="page-link" href="#">2</a>
                                  </li>
                                  <li class="page-item active">
                                      <a class="page-link" href="#">3</a>
                                  </li>
                                  <li class="page-item">
                                      <a class="page-link" href="#">4</a>
                                  </li>
                                  <li class="page-item">
                                      <a class="page-link" href="#">5</a>
                                  </li> -->
          <li class="page-item">
              <% if (pagenation.next) { %>
                  <a href="/product?page=<%= pagenation.next.page %>&limit=<%= pagenation.next.limit %>" class="page-link" aria-label="Next">
                      <span aria-hidden="true">»</span>
                  </a>
              <% } %>
          </li>
      </ul>
  </nav>
</div>




let productdts;
let item=req.query.sort
let allproduct=res.pagenation.results
console.log(req.query,',,,,,,,,,,,,,,,,,,,,,,,,,,,,,,');
console.log(allproduct,',,,,,;;;;;;;;;;;;;;;;;;,,,,,');
let pagenation=res.pagenation
if (item) {
   productdts = await productscema.find({category:{$eq:item}})
  console.log(productdts,'asdfghjklsdfghjklsdfghjkl');
}
else{
  productdts = await productscema.find()
  console.log('this is productdtskkkkkkkkkkkkk');
}

res.render("user/product", {
  udata: req.session.userdata,
  session: req.session.loginchecker,
  productdts,
  pagenation,
  allproduct,
  item
});
console.log("in product page");